# .NET / C# standard ignore
bin/
obj/
appsettings.Development.json
appsettings.Production.json
*.user
*.suo
.vs/
*.db
*.db-shm
*.db-wal
.idea
.vscode/

# Android Signing Keystore (sensitive - don't commit)
.keystore/
*.keystore
*.jks

GastoSmart.App/LocalConfig.cs
